@import url('https://fonts.googleapis.com/css?family=Baloo+Tammudu+2&display=swap');

body {
  text-align: center;
  background-image: url("https://cdn.vox-cdn.com/thumbor/jR_A6WEcKyoDqlTgnBc8eaiCEms=/0x0:4139x2760/2820x1586/filters:focal(2076x1116:2738x1778):format(webp)/cdn.vox-cdn.com/uploads/chorus_image/image/66519738/GettyImages_1207534742.0.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: 'Baloo Tammudu 2', cursive;
  margin: 0;
}

header {
  font-family: 'Baloo Tammudu 2', cursive;
  text-align: left;
  /* padding: 2rem; */
  padding-left: 1rem;
  background: linear-gradient(to right, #d6d6d6, #b1b1b1, #d6d6d6);
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
}

header>h1>a {
  text-decoration: none;
  cursor: pointer;
}

header>div>button, p {
  margin: 0 3rem;
}

.auth-container {
  margin: 8rem 36rem;
  background: #b1b1b1;
  padding: 2rem;
}

html {
  scroll-behavior: smooth;
}

.item-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  grid-gap: 10px;
  margin: 8rem 10rem;
}

.item-card {
  background: #d6d6d6;
  cursor: pointer;
}

.item-page {
  margin: 8rem auto;
  background: #d6d6d6;
  width: 20rem;
  padding: 0rem 0rem 2rem 0rem;
}

.create-form {
  display: grid;
  width: 20rem;
  margin: 15rem auto;
  background: #d6d6d6;
  padding: 2rem 2rem 3.5rem 2rem;
}

img {
  max-width: 15rem;
  padding: 2rem;
}

.plus-sign {
  max-width: 4rem;
  cursor: pointer;
}
